langchain
langchain_community
langchain_core
langchain_groq
dotenv
pypdf
sentence-transformers
langchain_google_genai
google-generativeai
streamlit
chromadb
pymupdf
transformers
torch
pillow
numpy
scikit-learn
faiss-cpu
